<div class="row">
    <div class="col-lg-7">
      {{categories-filter filter=(action 'handleFilter')}}
      {{categories-list categories=categories}}
    </div>
    <div class="chart-container js-chart-container col-lg-5"></div>
</div>


