<div class="row">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#list" class="js-list-tab" aria-controls="list" role="tab" data-toggle="tab">Просмотр
            категорий</a></li>
        <li role="presentation">
            <a href="#add-form" class="js-form-tab" aria-controls="add-form" role="tab" data-toggle="tab">Добавить</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="list">
            <div class="col-lg-7">
              {{categories-filter filter=(action 'handleFilter')}}
              {{categories-list categories=categories remove=(action 'handleRemove')}}
            </div>
            <div class="chart-container js-chart-container col-lg-5"></div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="add-form">
            {{category-form parent=parent addCategory=(action 'handleAdd')}}
        </div>
    </div>
</div>