<table class="table table-striped table-hover">
    <caption>Категории</caption>
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Затраты</th>
        <th>Дата</th>
    </tr>
    </thead>
    <tbody>
    {{#each categories as |item|}}
        <tr>
            <td>{{item.id}}</td>
            <td>
              {{#link-to 'categories' item}}
                {{item.name}}
              {{/link-to}}
            </td>
            <td>{{item.cost}}</td>
            <td>{{item.date}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>