<div class="form-group">
    {{input value=start class="form-control js-start" placeholder="От"}}

</div>
<div class="form-group">
    {{input value=end class="form-control js-end" placeholder="До"}}
</div>